@charset "UTF-8"

#wrapper {
	width:100%;
}
header,.bot_sub,#sub_hide {display:none;}
header {
	width:100%; margin:0 auto;
	text-align:center; 
	margin-bottom:5px;
	}
	header h1 { 
		width:100%; margin:35px auto;
	}
	header #lnb {	
		position: absolute;top:25px; right:12px;
	}
	header #lnb li {
		margin-bottom:10px;
		font-size:22px;	
	}
	header #lnb li:last-child {
		margin-bottom:0;
	}
	header #lnb a {
		color:#444;
	}
	header #snb {
		width:1201px; margin:0 auto; border:0.1px solid transparent;
		position:relative;
	}
	header #snb #navi {
		height:40px;	
		position:relative; top:0; left:0;
	}
	header #snb #navi>li {
		float:left;	width:150px; 
		font-size:20px; font-weight:600; line-height:2;
		position:relative;
	}
	header #snb .sub>li:hover {
		background-color:#f9eae3;
	}
	header #snb #navi li b{
		font-weight:600;
		color:#f5a27a;
	}
	header #snb #navi .sub {
		width:100%;
		font-size:14px; font-family: 'KopubWorld 돋움';
		margin-top:15px;
		background-color:rgba(255,255,255,0.9);
		position:absolute; z-index:100;
	}
	header #navi .sub li a {
		color:#505050;
	}
	header #snb #navi .sub li {
		padding:5px 0;	
	}
	header #snb #navi_hide {
		width:1201px; margin:0 auto;
		overflow:hidden;
		height:15px;
		
	}
	header #snb #navi_hide li {
		float:left;	width:150px; 
		font-size:13px; line-height:1; color:#505050;
	}
.header {
	width:100%;
	font-size:24px;
	padding:20px 0;	
	text-align:center;
	position:fixed; top:0; z-index:1000;
	background-color:#fbe8e1;
	overflow:hidden;
}
.header a {
	color:#444;
}
.header h1 img{
	width:80px;
}
.header .icon-menu {
	position:absolute; top:50%; left:2%; margin-top:-1rem;
	font-size:30px;
	cursor:pointer;
}
.header .icon-search {
	position:absolute; top:5%; right:0;
}
.header .icon-ellipsis-vert {
	position:absolute; bottom:5%; right:0;
}
#menu {
	width:70%;
	height:100%;
	background-color:#fff;
	position:fixed; top:100px; left:-70%; 
	z-index:100;
	padding-top:30px;
	display:none;
	font-family:'Raleway','KopubWorld 돋움';
	}
	#menu dl {
		border-bottom:1px solid gray;
	}
	#menu dl dt {
		font-size:24px;
		font-weight:600;
		margin-left:5%;
		padding:10px 0;
		cursor:pointer;
	}
	#menu dl dt.on {
		color:#f5a27a;
	}
	#menu dl dt b {
		font-weight:600;
		color:#f5a27a;
	}
	#menu dl dd {
		margin-left:8%;
		padding:5px 0;
		cursor:pointer;
		display:none;
	}
	#menu dl dd a:hover {
		color:#f5a27a;
	}
	#menu dl dd:before {
		content:'- ';
	}
	#m_bg {
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.7);
		position:fixed;top:0; left:0; z-index:99;
		display:none;
	}

.menu {
	margin-top:130px;
	width:95%;
	margin-left:3%;	
	margin-bottom:40px;
	border-bottom:2px solid #933e15;	
	}
	.menu #sub_snb {
		overflow:hidden;
	}
	.menu #sub_snb>li {
		float:left; width:20%;
		padding:1.5%;
		font-size:16px; font-weight:600; line-height:2;	
		text-align:center;	
		border-right:2px solid #d1d1d1;		
		line-height:1;
		margin-bottom:5px;
	}
	.menu #sub_snb>li:last-child {
		border-right:none;
	}
	.menu #sub_snb li b{
		font-weight:600;
		color:#933e15;
	}
	.menu #sub_snb li:hover {
		background-color:#f1f1f1;
		cursor:pointer;
	}
	.menu #sub_hide {
		width:1201px; margin:0 auto;
		overflow:hidden;
		height:15px;
	}
section {		
	width:98%;	margin:0 auto;
	overflow:hidden;
	position:relative;	
	padding-bottom:80px;
}
section h3 {
	font-size:18px;
	color:#505050;
	width:1200px; margin:0 auto;
	padding-left:25px;
	margin-bottom:25px;	
}
section h3 a {
	color:#505050;
}
section form {
	position:absolute; right:25px; top:0px;
}
section form input[type=checkbox] {	
	width:15px; height:15px;
	padding-top:100px;
	border:none;
	background-color:#fff;
}
section form li {
	display:inline-block;
	font-size:13px;
	font-family:'KopubWorld 돋움';	
	margin-left:10px;
}
.page_in {
	width:100%;
	overflow:hidden;	
}
.page_in dl {	
	float:left;
	width:49%; 
	margin-right:2%;	
	max-width:350px;
	overflow:hidden;	
	margin-bottom:8%;
	position:relative;
}
.page_in dl:nth-of-type(2n) {
		margin-right:0;
	}
.page_in dt img {
	width:100%;	
}
.page_in dd:nth-of-type(2) {
	font-size:13px;		
		font-weight:600;
		padding-top:3%;
}
.page_in dd:nth-of-type(3) {
	font-size:13px;
	font-weight:600;
	color:#666;
	padding-top:2%;
	padding-bottom:2%;
}
.page_in dd:nth-of-type(4) {
	font-size:12px;
	font-weight:400;
	line-height:1.6;
	color:#999;
}
.page_in dd:nth-of-type(5) {
	font-size:20px;
	font-weight:600;
	text-align:right;

}
	.page_in .icon-menu {
		color:#999;
		transition: color 1s;
	}
	.page_in .icon-menu:hover {
		color:#ec871d;
	}	
	.page_in .icon-cart-plus {
		color:#999;
		font-size:20px;
		transition: color 1s;
	}
	.page_in .icon-cart-plus:hover {
		color:#0d3a1d;
	}	
	.page_in .icon-heart {
		color:#999;		
		transition: color 1s;
	}
	.page_in .icon-heart:hover {
		color:#c10224;
	}
.page_in dd img {
	width:100%;	
	padding-top:50px;	
}
#num_bar {
	width:100%; max-width:180px; margin:0 auto;
	height:100px;
	text-align:center;
	border:0.1px solid transparent;
	position:relative;
}
#num_bar li {
	display:inline-block;
	width:30px; height:30px;
	font:normal 13px '나눔고딕';
	color:#666;
	border:1px solid #999;
	cursor:pointer;
	line-height:2;
}
#num_bar p {
	display:inline-block;
	text-align:center;
	font:normal 13px '나눔고딕';
	width:30px; height:30px;
	border:1px solid #999;
	position:absolute; top:0;
	line-height:2.2;
}
#num_bar #left {
	left:0;
}
#num_bar #right {
	right:0;
}
#top {
	width:40px; height:40px;
	background-color:#0d3a1d;
	 font-size:30px; line-height:1.4; text-align:center;
	position:fixed; bottom:100px; right:20px; z-index:100;
}
#top a {
	color:#fff;
}
footer {
	width:100%;
	margin-top:0;
	text-align:center;
}
#bot_snb {
	overflow:hidden;	
	width:100%;
	max-width:500px; margin:0 auto;
}
#bot_snb>li {
	float:left;
	width:150px;
	text-align:center;
	margin:0 5px;	
	margin-bottom:20px;
	font-size:14px;
	font-weight:700;
}
.bot_sub li {	
	width:100%;
	font-size:12px;
	font-weight:400;
	text-align:center;
	margin-top: 10px;
	line-height:1.5;
	color:#666;
}
.bot_sub li small {
	font-size:11px;
	color:#999;
}
.bot_sub li a {
	color:#666;
}
.bot_sub li a:hover {
	text-decoration:underline;
}
.sns {
	margin:20px auto;
}
.sns li {
	display:inline-block;
	margin-right:10px;
	font-size:24px;
}
address {
	font-size:11px;
	font-style:normal;
	line-height:1.8;
	margin-bottom:30px;
	display:none;
}
p {
	font-size:11px;
	line-height:1.8;	
}